@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

.lesson-title {
  color: white;
  font-family: Bowlby One SC, sans-serif;
  font-size: 40px;
  font-style: Regular;
  line-height: 61px;
  margin-left: 132px;
  text-align: left;
  -webkit-text-stroke: 2px #9a4d7f;
  vertical-align: top;
  width: '4px';
}

.heading-1 {
  color: white;
  font-family: Bowlby One SC, sans-serif;
  font-size: 30px;
  font-style: Regular;
  line-height: 46px;
  margin-left: 132px;
  text-align: left;
  -webkit-text-stroke: 2px #9a4d7f;
  vertical-align: top;
  width: '4px';
}

.body {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: Regular;
  line-height: 45px;
  margin-left: 132px;
  margin-right: 132px;

  text-align: left;
  vertical-align: top;
}

.command {
  background-color: #efefef;
  border-radius: 5px;
  color: black;
  font-family: Fira Code, sans-serif;
  font-size: 25px;
  line-height: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  -webkit-text-stroke: 0 #9a4d7f;
  vertical-align: top;
  vertical-align: baseline;
}

.try-out-command {
  background-color: #efefef;
  border-radius: 5px;
  color: black;
  font-family: Fira Code, sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  -webkit-text-stroke: 0 #9a4d7f;
  vertical-align: top;
  vertical-align: baseline;
}

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  text-align: center;
}
