@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  text-align: center;
}
