@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin: 0;
  text-align: center;
}

.terminal {
  background-color: #dfedf8;
  color: white;
  font-family: monospace;
  padding: 45px;
  position: relative;
  text-align: left;
}

.input-container {
  position: relative;
}

.terminal-bottom-icicle {
  bottom: -50px;
  left: 45px;
  position: absolute;
}

.terminal-top-icicle {
  position: absolute;
  right: -10px;
  top: -20px;
}

.terminal-input {
  background-color: black;
  border-color: black;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
  padding: 20px;
  position: relative;
  width: 100%;
}
