.intro-container {
  display: flex;
  flex-direction: column;
  font-family: 'Westwood Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 2%;
  text-align: left;
  width: 95%;
}

.image-box {
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: 5vh;
  width: 50vw;
}

.landing-background {
  width: 100%;
}
// TODO: we don't want to be able to scroll vertically at certain wider screen sizes
.landing {
  background-color: #739ae7;
  height: 100vh;
}
