.hidden {
  display: none;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  bottom: 0;
  height: 60vh;
  left: 0;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 0;
  width: 40vw;
}

.modal-content > * {
  position: absolute;
}

.close-modal {
  cursor: pointer;
  font-size: 1.5em;
  right: 1vw;
  top: 1vh;
}