@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@font-face {
  font-family: 'Westwood Sans';
  src: local('Westwood Sans'),
    url('../assets/WestwoodSans-Regular.ttf') format('truetype');
}

.lesson-container {
  font-family: 'Westwood Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 2%;
  text-align: left;
  width: 95%;
}

.section {
  padding: 15px 0%;
}

.lesson-title {
  font-size: 2rem;
}

.lesson-subheading {
  font-size: 1.5rem;
}

.sub-subheading {
  font-size: 1.25rem;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-box {
  background: #d9d9d9;
  font-weight: 400;
  margin: 2% 4%;
  padding: 2%;
}

.content-header {
  text-align: center;
}

.command-highlight {
  background: #d9d9d9;
  padding: 0 0.25rem;
}

.command-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  padding: 0% 10%;
}

.trial-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.command-box {
  align-items: left;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  margin: 10px 4%;
  text-align: left;
  width: 100%;
}

.com-box {
  height: 100px;
  margin: 0.5rem 0;
}

#example-box {
  height: 225px;
}

.try-out-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0% 10%;
}

#try-out-box {
  height: 225px;
  width: 100%;
}
