.container {
  font-weight: 400;
  margin: 0 auto;
  text-align: left;
  width: 95%;
}

.header-text {
  font-weight: 400;
}

#task-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#task-description > div {
  position: relative;
  width: 100%;
}

#penguin {
  margin-top: 0.8rem;
  position: absolute;
  right: 15vw;
  width: 8vw;
}
