.hidden {
  display: none;
}

.container {
  font-weight: 400;
  margin: 0 auto;
  text-align: left;
  width: 95%;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  bottom: 0;
  height: 40vh;
  left: 0;
  margin: 0 auto;
  position: relative;
  right: 0;
  top: 0;
  width: 40vw;
}

.modal-content > * {
  position: absolute;
}

.close-modal {
  cursor: pointer;
  font-size: 1.5em;
  right: 1vw;
  top: 1vh;
}

#helpful-commands {
  align-items: center;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 5vh;
  width: 80%;
}

.helpful-command-row {
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.helpful-command-row > div {
  flex: 1;
  height: 100%;
  width: 50%;
}

.helpful-command-row > div:nth-child(1) {
  border-right: 1px solid #000;
}

.header-text {
  font-weight: 400;
}

#lesson-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#lesson-content > div {
  background-color: #d9d9d9;
  margin-left: 4vw;
  margin-right: 4vw;
  padding: 1em;
  padding-bottom: 5vh;
  text-align: center;
  width: 20%;
}

#task-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#task-description > div {
  position: relative;
  width: 40%;
}

#helpful-commands-button {
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 5vw;
  padding: 1vw;
  position: absolute;
  text-align: center;
  top: 1vh;
  width: 40%;
}

#penguin {
  background-color: #d9d9d9;
  height: 100%;
  position: absolute;
  right: 1vw;
  width: 30%;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh auto;
  width: 90%;
}

.task {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width: 100%;
}

.task-header {
  height: 3vh;
  margin-top: 1vh;
  position: relative;
  width: 100%;
}

.task-header > * {
  bottom: 0;
  position: absolute;
  top: 0;
}

.incomplete {
  background-color: #d9d9d9;
  border-radius: 100px;
  color: white;
  margin-left: 1vw;
}

.toggle-expand {
  color: grey;
  font-size: 1.5em;
  right: 1vw;
}

.complete {
  background-color: #32bf00;
  border-radius: 100px;
  color: white;
  margin-left: 1vw;
}

.task-name {
  bottom: 0;
  left: 4vw;
  top: 0;
}

.task-content {
  align-self: center;
  width: 80%;
}

.task-content > p {
  margin: 0 auto;
}

.terminal {
  align-self: center;
  background-color: #d9d9d9;
  height: 15vh;
  margin: 1vh auto;
  width: 40%;
}

.submit {
  border: 1px solid #000;
  cursor: pointer;
  margin: 2vh auto;
  padding: 1vw;
  text-align: center;
  width: 15%;
}
