header {
  background-color: #6588cb;
  height: 3em;
  line-height: 1em;
  position: relative;
  width: 100vw;
}

#nav-header {
  bottom: 0;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  height: 1em;
  left: 18px;
  position: relative;
  top: 18px;
  width: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  height: 100%;
  position: fixed;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #6588cb;
  font-size: 1.15em;
  line-height: 1.5rem;
  overflow-y: hidden !important;
  padding: 2.5em 1.5em 0;
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #6588cb;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-link {
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.menu-link:hover {
  cursor: pointer;
  font-size: larger;
}

.curr-link {
  color: white;
  font-size: larger;
  font-weight: bolder;
  padding: 0.5em;
  text-decoration: underline;
}
