@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.startbutton {
  background-color: white;

  border: 3px solid #9a4d7f;
  border-radius: 5px;
  color: #9a4d7f;
  cursor: pointer;
  font-family: Bowlby One SC, sans-serif;

  font-size: 20px;
  height: 60px;
  left: 18.5%;

  position: absolute;
  top: 775px;
  width: 205px;
}
