@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.startbutton {
  background-color: #9a4d7f;

  border: 3px solid white;
  border-radius: 5px;
  bottom: 6em;
  bottom: 48%;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-family: Bowlby One SC, sans-serif;

  font-size: 2.5vw;
  left: 42vw;
  margin-bottom: 5vh;
  padding: 0.6rem 2.5rem;
  position: fixed;
  z-index: 1;
}
