.task {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 7rem;
  margin-bottom: 10vh;
  position: relative;
  text-align: left;
  width: calc(100% - 2 * 7rem);
}

.task-header {
  align-items: center;
  display: flex;
  height: 3vh;
  line-height: 3em;
  margin-bottom: 1rem;
  margin-top: 1vh;
  padding-bottom: 1rem;
  width: 100%;
}

.task-content {
  align-self: center;
  background-color: #e0edf8;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 100%;
}

.task-content > p {
  margin: 0 auto;
}

.complete {
  color: #32bf00;
}

.incomplete {
  color: #d9d9d9;
}

.ice-glare-right {
  bottom: -5px;
  position: absolute;
  right: -5px;
}

.ice-glare-left {
  bottom: -5px;
  left: -10px;
  position: absolute;
}

.terminal-bottom-icicle {
  bottom: -50px;
  left: 0;
  position: absolute;
}
