.task {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1vh auto;
  margin-bottom: 5vh;
  position: relative;
  width: 85%;
}

.task-header {
  align-items: center;
  display: flex;
  height: 3vh;
  line-height: 3em;
  margin-top: 1vh;
  width: 100%;
}

.task-name {
  margin-left: 1vh;
}

.task-content {
  align-self: center;
  background-color: #e0edf8;
  width: 100%;
}

.task-content > p {
  margin: 0 auto;
}

.complete {
  color: #32bf00;
}

.incomplete {
  color: #d9d9d9;
}

.terminal {
  align-self: center;
  background-color: #dfedf8;
  height: 15vh;
  margin: 5vh auto;
  width: 80%;
}
