@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.terminal {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', sans-serif;
  font-size: 1rem;
  height: 100%;
  margin: 5vh auto;
  padding: 2%;
  position: relative;
  text-align: left;
  width: 80%;
  z-index: 1;
}

.command {
  background-color: black;
  border: 0;
  border-radius: 0;
  color: white;
  font-family: 'Fira Code', sans-serif;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

span {
  white-space: pre-line;
}

span span span {
  color: palevioletred;
}

.terminal-top-icicle {
  position: absolute;
  right: -10px;
  top: -20px;
}
