@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.terminal {
  background-color: #dfedf8;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', sans-serif;
  height: 100%;
  margin: 5vh auto;
  padding: 2vh;
  width: 80%;
}

.command {
  background-color: black;
  border: 0;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}

.terminal {
  background-color: #dfedf8;
  color: white;
  font-family: monospace;
  padding: 45px;
  position: relative;
  text-align: left;
}

.input-container {
  position: relative;
  padding: 20px;
}

.terminal-bottom-icicle {
  bottom: -55px;
  left: 5px;
  position: absolute;
}

.terminal-top-icicle {
  position: absolute;
  right: 10px;
  top: 0px;
}

.ice-glare-left {
  position: absolute;
  left: -10px;
}

.ice-glare-right {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.terminal-input {
  background-color: black;
  border-color: black;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
  padding: 20px;
  position: relative;
  width: 100%;
}

#terminal-align {
  align-items: left;
  display: flex;
  flex-direction: column;
  // padding: 20px;
}

